.switchContainer {
    display: flex;
    gap: 0.25px;
    width: auto;
  }
  
  .languageBtnActive {
    height: max-content;
    margin: 0;
    width: 1.5rem;
    text-align: center;
    font-size: 0.75rem;
    color: #FFFFFF;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
    text-decoration: underline;
    cursor: not-allowed;
  }
  
  .languageBtn {
    height: max-content;
    margin: 0;
    width: 1.5rem;
    text-align: center;
    font-size: 0.75rem;
    color: #FFFFFF;
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  
  .languageBtn:hover {
    color: #ffffff;
    text-decoration: underline;
    cursor: pointer;
  }
  
